* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 6vh;
    border-bottom: 1px solid rgb(194, 194, 194);
    box-shadow: 0px 3px 5px -5px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: white;
    position: fixed;
}

.navbar {
    font-size: 2.2vh;
}

.header-title {
    cursor: pointer;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bold;
    color: rgb(82, 82, 82);
    font-weight: bold;
    font-size: 1.1vw;
}

.header-content {
    display: flex;
    margin: 0px 2.5vw;
}

.header-title:hover {
    color: black;
}

.header-menu-options {
    flex-direction: column;
    box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.75);
    position: fixed;
    margin-top: 0.5vh;
    width: 5vw;
}

.header-options {
    cursor: pointer;
    border: 1px solid #cecece;
    background-color: #eeeeee;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;
}

.barra-lateral-container {
    display: flex;
    margin-top: 6.12vh;
    position: fixed;
    width: 10vw;
    height: 94vh;
    background-color: #2d3436;
    border-right: 1px solid #262c2e;
    box-shadow: 3px 0px 5px -5px rgba(0, 0, 0, 0.75);
    justify-content: center;
}

.barra-lateral-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.barra-lateral-content a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.botoes-sidebar {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 10vw;
    height: 6vh;
}

.botoes-sidebar:hover {
    background-color: #808080;
}

.active {
    border-left: 3px solid rgb(190, 190, 190);
}

.linha-config {
    width: 6.5vw;
    bottom: 12%;
    opacity: 30%;
    position: absolute;
}

#config-icon-position {
    position: absolute;
    bottom: 5%;
}

.container-login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bloco-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 30%;
    background-color: rgba(220, 220, 220, 0.85);
    box-shadow: 3px 0px 5px -5px rgba(0, 0, 0);
}

.conteudo-login {
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-login input {
    margin-top: 2rem;
    width: 20vw;
    height: 3vh;
    padding: 5px 10px;
    border-radius: 6px;
    outline: none;
    background-color: #e6e6e6;
    border: 1px solid #a3a3a3;
}

.conteudo-login button {
    cursor: pointer;
    border-radius: 6px;
    width: 15vw;
    color: white;
    font-weight: bold;
    background-color: #808080;
    border: 1px solid #a3a3a3;
    height: 4vh;
    outline: none;
}

.botao-dashboard {
    cursor: pointer;
    border-radius: 5px;
    color: #163d6b;
    /* border: none; */
    border: 1px solid rgb(187, 187, 187);
    font-weight: 800;
    background-color: rgb(241, 241, 241);
    font-size: 0.8rem;
    margin: 0px 10px 1vh 0px;
    padding: 5px 10px;
}

.botao-dashboard:hover {
    background-color: #d1d1d1;
}

.botao-dashboard-config {
    cursor: pointer;
    border-radius: 5px;
    color: red;
    border: none;
    font-weight: 800;
    background-color: rgb(241, 241, 241);
    font-size: 0.8rem;
    margin: 0px 10px 1vh 0px;
    padding: 5px 10px;
}

.botao-dashboard-config:hover {
    background-color: #d1d1d1;
}

.comb-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 55vh; */
}

.caixa-gasolina {
    margin-top: -7vh;
    padding: 15px;
    width: 50vw;
    height: 56vh;
    background-color: rgb(233, 233, 233);
    border: 0.5px solid black;
}

.form-comb-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: left;
    margin-top: 2rem;
}

.form-comb {
    display: flex;
    flex-direction: column;
}

.form-comb label {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 3px;
}

.form-comb input {
    padding: 0px 5px;
    height: 2.5vh;
}

.form-comb select {
    padding: 0px 5px;
    height: 2.9vh;
}

.form-comb textarea {
    padding: 5px 5px;
    height: 8.5vh;
    resize: none;
}

.form-comb-buttons {
    margin-top: 3.2%;
    position: absolute;
}

.form-comb-buttons button {
    cursor: pointer;
    border-radius: 5px;
    color: #163d6b;
    border: none;
    font-weight: 800;
    background-color: rgb(226, 226, 226);
    font-size: 0.8rem;
    margin: 0px 10px 1vh 0px;
    padding: 5px 10px;
}

.form-comb-buttons button:hover {
    background-color: #d1d1d1;
}

.tela-inserir {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(156, 156, 156, 0.6);
    height: 100vh;
    width: 100vw;
    top: 0%;
}

.caixa-cadastro {
    background-color: rgb(136, 136, 136);
    margin: 0.5rem, 2vw, 0px;
    height: 30vh;
    width: 45vw;
    padding: 1rem;
    box-shadow: 0px 7px 10px -3px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
}

.redimensionamento-cadastro {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.caixa-cadastro-coluna {
    display: inline-block;
    height: 25vh;
    width: 15vw;
}

.caixa-cadastro-alinhamento {
    display: flex;
    justify-content: start;
}

.caixa-cadastro-espacamento {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: large;
    margin-top: 0.5rem;
}

.caixa-cadastro-espacamento input {
    padding: 5px 5px;
    width: 13vw;
    border: none;
}

input:disabled {
    cursor: not-allowed;
}

.caixa-cadastro-espacamento select {
    padding: 5px 5px;
    border: none;
}

.caixa-cadastro-espacamento textarea {
    resize: none;
    width: 14.3vw;
    height: 11vh;
    padding: 5px 5px;
    border: none;
}

.caixa-cadastro-espacamento-receita {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: large;
    margin-top: 0.5rem;
}

.caixa-cadastro-espacamento-receita textarea {
    resize: none;
    position: absolute;
    margin-top: 2.25vh;
    width: 29.2vw;
    height: 6vh;
    padding: 5px 5px;
    border: none;
}

.campo-vazio {
    border: 1px solid red !important;
}

.botoes-cadastro {
    margin: -0.5rem 0px 0px 0.2rem;
}

.botoes-cadastro button {
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    color: #163d6b;
}

/*Grafs*/

.graf-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* width: 100vh; */
    /* height: 100vh; */
}

.charts-container {
    align-items: center;
    /* margin-top: 5px; */
    margin-bottom: 10px;
}

.fluxo-box {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 1px 22px -12px #607d8b;
    border-radius: 5px;
    margin-bottom: 6px;
    margin-right: 5vh;
    margin-left: 5vh;
}

.line-box {
    background-color: white;
    border-radius: 4px;
    margin-right: 6vh;
    width: 600px;
    height: 550px;
}

.donut-box {
    background-color: white;
    border-radius: 4px;
    margin-left: 6vh;
    width: 550px;
    height: 400px;
}

.top-charts {
    display: flex;
    justify-content: space-between;
    flex-direction: space-between;
    /* margin-top: -15vh; */
    margin-bottom: 1vh;
}

.bottom-charts {
    display: flex;
    justify-content: center;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.tabela {
    /* margin: 15vh 3vw 0px 0vw; */
    margin: 15vh 3vw 0px 10vw;
    width: 91vw;
    overflow-x: auto;
}

/* Colunas da tabela */
.MuiDataGrid-columnHeader {
    background-color: rgb(71, 70, 70);
    color: white;
}

.MuiDataGrid-row {
    background-color: white;
}

.pages-logado-main-content-config {
    padding: 6vh 0px 0px 0px;
    display: flex;
    height: 94vh;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.pages-logado-main-content {
    padding: 6vh 0px 0px 0px;
    display: flex;
    height: 94vh;
    justify-content: center;
    background-color: whitesmoke;
}

.header-config-container {
    margin: 1px 0px 0px 10.1vw;
    display: flex;
    position: fixed;
    width: 90vw;
    height: 2.6vh;
    align-items: center;
    /* background-color: white; */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    /* z-index: 1; */
}

.header-config-content {
    padding: 0.5vw;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.header-config-diretorio {
    cursor: pointer;
    margin: 0px 12px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.header-config-diretorio:hover {
    /* border-bottom: 2px solid rgb(189, 189, 189); */
    background-color: rgb(211, 211, 211);
}

.config-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}